
html, body{
    margin:5px;
    /*/color: aqua;/*/
    background-color:aqua;

}

li{
  display: inline-block;
}

#board{
    border-radius: 2%;
    border: 2px solid black;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#site-title{
	font-size: 36px;
	padding: 10px 20px;
	color: black;
	font-family: inconsolata;
  text-align: center;
}

#thicc-bar{
  display: inline-block;
  padding: 5px;
}

#Thicc-text{
  font-size: 18px;
  color: black;
}

#thicc-button{
  width: 80px;
  height: 50px;
}

#foot{
  display: block;
  font-size: 18px;
  font-family: inconsolata;
  padding: 8px;
  background-color: #bdc3cc;
  border: 2px solid black;
}

#authors{
  /*/display: inline-block;/*/
  /*/float: left;/*/
  padding: none;
  text-align: center;

}

#author-item{
  padding-left: 20px;
}

#rob-email{
  text-align: center;
}
