
html, body{
    margin:5px;
    /*/color: aqua;/*/
    background-color:aqua;

}

#board{
    border-radius: 2%;
    border: 2px solid black;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#site-title{
	font-size: 24px;
	padding: 10px 20px;
	color: black;
	font-family: inconsolata;
}

#thicc-bar{
  display: inline-block;
}

#Thicc-text{
  font-size: 18px;
  color: black;
}

#thicc-button{
  width: 80px;
  height: 50px;
}
